
.h1 {
    font-family: sans-serif;
    color: red;
    font-size: 40;
}

.container {
color: blue;
font-size: 300;
}

.muhleman {
width: 400px;
height: 300px;
position: static
}
.GN {
width:400px;
height: 300px;
position: static;
}

.bird3 {
width: 400;
height: 500px;
padding-left: 1000px;
padding-bottom: 300px;
}

.AMP {
    
}