
.h1 {
    font-family: sans-serif;
    color: red;
    font-size: 40;
}

.container {
color: blue;
font-size: 300;
}

.bird1 {
width: 600px;
height: 450px;
position: static;
margin: 25px;
}
.bird2 {
width: 600px;
height: 400px;
padding-left: 55%;
position: static;
margin:25px;
}

.bird3 {
width: 400;
height: 500px;
padding-left: 63%;
padding-top: 25px;
position: static;
margin-right: 25px;
}