
.h1 {
    font-family: sans-serif;
    color: red;
    font-size: 40;
}

.container {
color: blue;
font-size: 300;
}

.bird1 {
width: 550px;
height: 500px;
padding-left: 200px;
position: static;
margin-top: 10px;
}

.bird2 {
width: 550px;
height: 500px;
padding-left: 200px;
position: static;
10px
}

.bird3 {
width: 400;
height: 500px;
padding-left: 75%;
padding-top: 100px;
position: static;
10px
}